@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
}

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <h3>TransportathonApp.MVC'a Kayıt Olun</h3>
        <p>Create account to see it in action.</p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ad" required="" id="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Soyad" required="" id="surname">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required="" id="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Şifre" required="" id="password">
        </div>
        <div class="form-group" id="companyDiv" style="display:none;">
            <input type="password" class="form-control" placeholder="Şirket Adı" id="company">
        </div>
        <div class="form-group">
            <div class="checkbox i-checks">
                <label>
                    <input type="checkbox" id="isCompany">
                    <i></i> Nakliye hizmeti sunmak istiyorum.
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Şartları kabul ediyorum. </label></div>
        </div>
        <button type="button" class="btn btn-primary block full-width m-b" onclick="register()">Kayıt Ol</button>
        <p class="text-muted text-center"><small>Zaten hesabınız var mı?</small></p>
        <a class="btn btn-sm btn-white btn-block" asp-controller="Login" asp-action="Index">Giriş Yap</a>
        <p class="m-t"> <small>TransportAPP &copy; 2014</small> </p>
    </div>
</div>

@section Scripts{

    <!-- iCheck -->
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        var companyDiv = document.getElementById("companyDiv");

        $('#isCompany').on('ifChecked', function (event) {
            companyDiv.style.display = "block";
        });
        $('#isCompany').on('ifUnchecked', function (event) {
            companyDiv.style.display = "none";
        });

        async function register() {
            if ($('#isCompany').prop('checked')) {
                let company = {
                    firstName: $("#name").val(),
                    lastName: $("#surname").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    companyName: $("#company").val()
                };

                var response = await fetchService("Register/CreateCompanyExecutive", company)
            } else {
                let customer = {
                    firstName: $("#name").val(),
                    lastName: $("#surname").val(),
                    email: $("#email").val(),
                    password: $("#password").val()
                };

                var response = await fetchService("Register/CreateCustomer", customer)
            }
        }      
    </script>
}