@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

@section Styles{
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/plugins/steps/jquery.steps.css" rel="stylesheet">
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Yeni Talep Oluştur</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:auto !important;">
                    <p>
                        Talep oluşturmak için lütfen alanları doldurun.
                    </p>

                    <form id="form" class="wizard-big">
                        <h1>Mevcut Adres</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select id="rootCountry" class="form-control" required>
                                            <option value="0" selected>Lütfen ülke seçiniz*</option>
                                            <option value="1">Türkiye</option>
                                            <option value="2">Almanya</option>
                                            <option value="3">İngiltere</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="rootState" class="form-control">
                                            <option value="0" selected>Lütfen il seçiniz*</option>
                                            <option value="1">İstanbul</option>
                                            <option value="2">Berlin</option>
                                            <option value="3">Londra</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select id="rootCity" class="form-control">
                                            <option value="0" selected>Lütfen ilçe seçiniz*</option>
                                            <option value="1">Beşiktaş</option>
                                            <option value="2">Charlettonburg</option>
                                            <option value="3">Chelsea</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="rootPostalCode" class="form-control">
                                            <option value="0" selected>Lütfen posta kodu seçiniz*</option>
                                            <option value="1">34071</option>
                                            <option value="2">96025</option>
                                            <option value="3">45698</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea id="rootAddress" class="form-control" placeholder="Açık adresinizi rezervasyon oluştuktan sonra da girebilirsiniz..." style="height:95px !important;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Hedef Adres</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select id="targetCountry" class="form-control" required>
                                            <option value="0" selected>Lütfen ülke seçiniz*</option>
                                            <option value="1">Türkiye</option>
                                            <option value="2">Almanya</option>
                                            <option value="3">İngiltere</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="targetState" class="form-control">
                                            <option value="0" selected>Lütfen il seçiniz*</option>
                                            <option value="1">İstanbul</option>
                                            <option value="2">Berlin</option>
                                            <option value="3">Londra</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select id="targetCity" class="form-control">
                                            <option value="0" selected>Lütfen ilçe seçiniz*</option>
                                            <option value="1">Beşiktaş</option>
                                            <option value="2">Charlettonburg</option>
                                            <option value="3">Chelsea</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="targetPostalCode" class="form-control">
                                            <option value="0" selected>Lütfen posta kodu seçiniz*</option>
                                            <option value="1">34071</option>
                                            <option value="2">96025</option>
                                            <option value="3">45698</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea id="targetAddress" class="form-control" placeholder="Açık adresinizi rezervasyon oluştuktan sonra da girebilirsiniz..." style="height:95px !important;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Nakliye Bilgileri</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tarih*</label>
                                        <div class="input-group date" id="transportDatePicker">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="transportDate" type="text" class="form-control" value="@DateTime.Now.ToString("dd.MM.yyyy")">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Taşıma Tipi*</label>
                                        <select id="transportType" class="form-control">
                                            <option value="0" selected>Evden Eve</option>
                                            <option value="1">Ofis</option>
                                            <option value="2">Ağır Eşya</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Ağırlık</label>
                                        <input type="number" id="weight" value="" placeholder="Kg" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Not</label>
                                        <input type="text" id="note" value="" placeholder="Not" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Talep Özeti</h1>
                        <fieldset>
                            <h1>Talep bilgileri burada görünecek...</h1>
                            <br />
                            <br />
                            <h2 style="margin-top:-15px;">Şartlar ve Koşullar</h2>
                            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                            <label for="acceptTerms">Tüm şartları okudum ve kabul ediyorum.</label>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Taleplerim</h3>
                    <hr />
                    <table id="requestTable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                        <thead>
                            <tr>
                                <th data-toggle="true">Nakliye Tipi</th>
                                <th data-hide="phone">Nakliye Tarihi</th>
                                <th data-hide="all">Not</th>
                                <th data-hide="phone">Nereden</th>
                                <th data-hide="phone">Nereye</th>
                                <th data-hide="phone,tablet">Ağırlık</th>
                                <th class="text-right" data-sort-ignore="true">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>

    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- Steps -->
    <script src="~/js/plugins/steps/jquery.steps.min.js"></script>

    <!-- Jquery Validate -->
    <script src="~/js/plugins/validate/jquery.validate.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 2 && $("#targetCountry").val() == 0) {
                        swal({
                            title: "Hata",
                            text: "Lütfen ülke seçiniz",
                            type: "error"
                        });
                        return false;
                    }

                    var form = $(this);

                    if (currentIndex < newIndex) {
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    form.validate().settings.ignore = ":disabled,:hidden";

                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {

                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    form.validate().settings.ignore = ":disabled";

                    return form.valid();
                },
                onFinished: async function (event, currentIndex) {

                    let response = await fetchService("Customer/Request/Create", {
                        FromAddress: $("#rootAddress").val(),
                        ToAddress: $("#targetAddress").val(),
                        Notes: $("#note").val(),
                        TransportDate: $("#transportDate").val(),
                        Type: Number($("#transportType").val()),
                        Weight: $("#weight").val() == null || $("#weight").val() == "" ? 0 : Number($("#weight").val()),
                        UserMail: $("#userName").val()
                    });

                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {

                    }
                }
            });

            $('#transportDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd.mm.yyyy'
            });
        });

        listRequests();

        async function listRequests() {
            let response = await fetchService("Customer/Request/GetByUserMail", { UserMail: $("#userName").val() })
            DrawTable(response.transportationRequests);
        }

        function DrawTable(data) {
            var table = $('#requestTable').footable();
            $.each(data, function (index, item) {
                var row = '<tr>' +
                    '<td>' + item.type + '</td>' +
                    '<td>' + item.transportDate + '</td>' +
                    '<td>' + item.notes + '</td>' +
                    '<td>' + item.fromAddress + '</td>' +
                    '<td>' + item.toAddress + '</td>' +
                    '<td>' + item.weight + '</td>' +
                    '<td class="text-right">' +
                    '<div class="btn-group">' +
                    '<button class="btn-primary btn btn-xs mr-1" onclick="showOffers(' + item.id + ')">Teklifler</button>' +
                    '<button class="btn-info btn btn-xs mr-1" onclick="edit(' + item.id + ')">Düzenle</button>' +
                    '<button class="btn-danger btn btn-xs " data-toggle="modal"  onclick="delete(' + item.id + ')">Sil</button>' +
                    '</div>' +

                    '</td>' +
                    '</tr>';
                table.append(row);
            });
            table.trigger('footable_initialize');
        }


    </script>
}


