<div id="_pblloading">
    <style>
        .site_loading {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999999999999999999999999999;
            left: 0;
            top: 0;
            font-size: 150px;
            display: none
        }

        .arc, .arc_dis {
            position: absolute
        }

            .arc_dis, .arc_dis:before {
                z-index: 999999999999999999999999999999
            }

                .arc::after, .arc::before, .arc_dis:before {
                    position: absolute;
                }

        .arc_dis {
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            width: 58px;
            height: 58px;
        }

            .arc_dis:before {
                content: "";
                width: 4px;
                height: 4px;
                left: calc(50% - 2px);
            }

        .arc {
            margin: 0;
            width: 50px;
            height: 50px;
            padding: 0;
            left: calc(50% - 25px);
            top: calc(50% - 25px)
        }

            .arc::after, .arc::before {
                top: 4%;
                left: 48%;
                width: 4%;
                height: 46%;
            }

            .arc::after {
                height: 36%;
                top: 14%;
            }

        #container {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;
        }
    </style>
    <div class="site_loading">
        <img src="/img/rails_logo" style="width:300px;height:300px;  position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -100px;">
    </div>
    <div id="site_locked">
    </div>
</div>
