@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Welcome to IN+</h2>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
            <p>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail" required="" id="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" id="password">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" onclick="login()">Giriş Yap</button>
                <a asp-controller="ForgotPassword" asp-action="Index">
                    <small>Forgot password?</small>
                </a>
                <p class="text-muted text-center">
                    <small>Do not have an account?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" asp-controller="Register" asp-action="Index">Create an account</a>
                <p class="m-t">
                    <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
                </p>
            </div>
        </div>
    </div>
    <hr />
</div>

@section Scripts{
    <script>

        async function login() {

            let email = $("#email").val();
            let password = $("#password").val();
            let isPersistent = true;

            let response = await fetchService("Login/Login", { Email: email, Password: password, IsPersistent: isPersistent })

            if (response === "Kullanıcı adı veya şifre hatalı!") {
                swal({
                    title: "Giriş Başarısız!",
                    text: response,
                    type: "error"
                });
                return;
            }

            // let URL = window.location.href;

            // if (!(URL.toLowerCase().includes("customer") || URL.toLowerCase().includes("company")))
            URL = window.location.origin + `/${response.path}/Home`;

            window.open(URL, "_self");
        }

    </script>
}
